<html>
  <head>
    <title>{{ .site.title }}</title>
  </head>
  <body>
    <h1>My simple static website</h1>

    <p>Hello, World!</p>

    <ul>
    {{ range .pages }}
      <li><a href="/blog/{{ trimSuffix .filename ".md" }}.html">{{ .frontmatter.title }}</a> ({{ .frontmatter.date }})</li>
    {{ end }}
    </ul>
  </body>
</html>
